*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/fond.webp);
    background-size:100% 500px;
    background-repeat: no-repeat;
    background-position: 0 117px;
}
.head{
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: rgb(95, 95, 95);
    padding: 25px;
    font-size: 13px;
}
.menu ul{
    display: flex;
    gap: 20px;
}
.menu li{
    list-style: none;
}
.menu select{
    border: none;
    background-color: #000;
    color: rgb(157, 76, 12);
}
button{
    display: none;
}
.white{
    color: #fff;
}
.online{
    transform: translateX(40px);
}
.navbar{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 18px;
}
.main ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.icone{
    display: flex;
    gap: 20px;
    transform: translateX(50px);
    color: rgba(0, 0, 0, 0.733);
}
.border{
    border: 1px solid rgba(202, 202, 202, 0.199);
    height: 48px;
    transform: translateY(-20px);
}
.un{
    width: 15px;
    height:15px ;
    border: 1px solid;
    border-radius: 50px;
    background-color: rgb(235, 93, 3);
    text-align: center;
    color: #fff;
    font-size: 12px;
    transform: translate(-50px, -10px);
}
.image img{
    width: 120px;
    height: 110px;
    transform: translate(40px, -150px);
}
.contain{
    text-align: center;
    color: #fff;
}
.contain img{
    width: 7%;
    filter: white(100%);
}
.logo{
    transform: translateY(-80px);
}
.border1{
    width: 5%;
    border: 1px solid rgb(138, 62, 14);
    margin: auto;
    transform: translate(-10px,-60px);
}
.list h1{
    font-size: 40px;
}
.list p{
    font-size: 12px;
    transform: translatey(10px);
    color: #909090;
    font-weight: bold;
}
.button p{
    font-size:10px ;
    width: 7%;
    margin:60px  auto;
    border: 1px solid #fff;
    padding: 10px;
    font-weight: bold;
}
.five{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    transform: translateY(-30px);
}
.point{
    color: rgb(100, 100, 100);
}
.five span{
    font-size: 40px;
    transform: translateY(-10px);
}
.col{
    background-color: rgb(244, 244, 244);
    padding: 30px;
}
.col p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.nix{
    text-align: center;
}
.nix img{
    width: 80%;
    transform: translateY(-60px);
}
@media screen and (max-width: 800px) {
     body{
       background-position: 0 50px;
    } 
    .head{
        display: none;
    }
    .menu ul{
        display: block;
    }
    .online{
        transform: translateX(-5px);
        margin: 10px 10px;
    }
    button i{
        font-size: 20px;
        transform: translateY(-5px);
    }
    button{
        display: flex;
        position: relative;
        padding: 5px;
        border: none;
        background-color: #fff;
    }
    button:hover .six{
        display: block;
        position: absolute;
        top: 10px;
    }
    .six{
        width: 100px;
        height: 150px;
        background-color: #0000007a;
        color: #fff;
        transform: translate(-80px,20px);
        padding: 10px;
    }
    /* .vertic{
        transform: translate(-18px,20px);
    } */
    .contain{
        padding: 62px;
    }
    .image{
        display: none;
    }
     .main ul{
        display: none;
        /* transform: translate(-50px, -10px); */
    }
    .main li{
        margin: 10px;
    }
    .border{
        display: none;
    }
    .un{
        transform: translate(-25px,-4px);
    }
    .logo{
        transform: translateY(20px);
    }
    .logo img{
        width: 20%;
    }
    .border1{
        width: 15%;
        transform: translate(-6px,-25px);
    }
    .list{
        transform: translateY(80px);
    }
    .list h1{
        font-size: 30px;
    }
    .list p{
        font-size: 10px;
    }
    .button p{
        width: 40%;
        transform: translateY(80px);
    }
    .five{
        transform: translateY(30px);
    }
    .nix img{
        transform: translateY(-60px);
    }
}

